body{
  font-family: "robotoregular";
} 
.about-title{
    margin-left: 7%;
    font-weight: bold;
    color: white;
    font-size: 50px;
    padding-top: 100px;
    padding-bottom: 2%;
    width: 65%;
    animation-name: animation-title;
    animation-duration: 200ms;
    animation-timing-function: linear;
    animation-delay: 600ms;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;  
}
@keyframes animation-title{
  0%{
      opacity: 0;
  }
 100%{
      opacity: 1;
  }
}
.about-cta1{
    margin-left: 7%;
    color:#BDBDBD;
    font-size: 18px;
    padding-bottom: 2%;
}
.about-cta1 .go-to-about1{
    font-size: 18px;
    text-decoration: none;
}
.about-cta1 .go-to-about1 .about-txt1{
    color: #f0860c;
    text-decoration: none;
    font-weight: 300;
    position: relative;
}
.animation-txt{
  animation-name: animation-p;
  animation-duration: 200ms;
  animation-timing-function: linear;
  animation-delay: 1200ms;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;  
}
@keyframes animation-p{
  0%{
      opacity: 0;
  }
 100%{
      opacity: 1;
  }
}