.txt-style1{
    margin-left: 7%;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    font-size: 50px;
    padding-top: 5%;
    width: 65%;
    animation: text 3s 1;
}


.txt-style2{
    margin-left: 7%;
    font-family: sans-serif;
    color: #BDBDBD;
    font-size: 18px;
    padding-top: 2%;
    letter-spacing: .01em;
    padding-inline-start: 0;
    line-height: 2.38105;
    
}

.email{
    font-family: sans-serif;
    font-size: 20px;
    color: #f0860c;
    margin-left: 0.5em;
    text-decoration: none;
}

.txt-style3{
    margin-left: 7%;
    font-family: sans-serif;
    color: white;
    font-size: 13px;
    padding-top: 2%;
    
}

input,textarea{
    
    border-radius: 8px;
    width: 500px;
    height: 40px;
    background-color:#1C1C1C;
    border: 2px solid #1C1C1C;
}

td{
    padding-top: 1.5%;
    }

textarea{
    height: 120px;
}

button{
    background-color:#1C1C1C;
	width: 148px;
	margin-top: 10px;
    color: #f0860c;
    font-family: sans-serif;
    font-weight: bold;
	padding-bottom: 8px;
	padding-top: 8px;
	font-size: 18px;
    border-radius: 8px;
    border: 2px solid #1C1C1C;
    
}

