body{
    overflow: auto;
    background-color: black;
}
header{
    margin-top: 15px;
    margin-left: 40px;
}
nav ul li a {
    padding: 20px;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .02em;
}
nav ul li a.active {
    color: #f0860c;
}


nav ul li {
    display: inline;
    top : 10px;
}

nav ul li:nth-child(5){
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 85%;
}

.section {
    background-image: url(https://uploads-ssl.webflow.com/591e9525f13786217f2e347e/5b47654a49f3e1543ba2a603_180712%20-%20background.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
}
.home-name{
    margin-left: 7%;
    font-family: sans-serif;
    color: white;
    font-size: 25px;
    padding-top: 100px;
    padding-bottom: 2%;
}
.home-profession{
    margin-left: 7%;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    font-size: 50px;
    padding-bottom: 2%;
    width: 65%;
    animation: text 3s 1;
}

@keyframes text{
    0%{
        color: black;
        margin-bottom: -1000px;
    }

    30%{
        letter-spacing: 25px;
        margin-bottom: -1000px;
    }

    85%{
        letter-spacing: 8px;
        margin-bottom: -1000px;
    }
}
.home-skills{
    margin-left: 7%;
    padding-inline-start: 0;
}
.home-skills li{
    font-size: 21px;
    line-height: 1.38105;
    font-weight: 400; 
    letter-spacing: .01em;
    margin-bottom: 14px;
    opacity: 1;
}
.home-skills li a{
    color: #ccc;
    text-decoration: none;
}
.about-cta{
    margin-left: 7%;
    font-family: sans-serif;
    color: white;
    font-size: 18px;
    padding-bottom: 2%;
    margin-top: -58px;
}

.about-cta .go-to-about{
    font-family: sans-serif;
    font-size: 18px;
    text-decoration: none;
}
.about-cta .go-to-about .about-txt{
    color: #f0860c;
    text-decoration: none;
    font-weight: 300;
    position: relative;
}
.about-cta .go-to-about .about-txt::after{
    content: '>';
    position: absolute;
    top: -8px;
    right: -30px;
    color: #f0860c;
    font-size: 30px;
}

