@import "style";

.about-title{
    @include styleText();
    font-weight: bold;
    font-size: 50px;
    padding-top: 50px;
    opacity: 0;
    @include animationText();
    animation-name: animation-title;
    animation-delay: 600ms;
}
@keyframes animation-title{
    0%{
        opacity: 0;
    }
   100%{
        opacity: 1;
    }
  }
.animation-txt{
    opacity: 0;
    @include animationText();
    animation-name: animation-p;
    animation-delay: 1200ms;
}
@keyframes animation-p {
    0%{
        opacity: 0;
    }
   100%{
        opacity: 1;
    }
}
.txt-style2{
    color:$primary-color;
    padding-bottom: 2%;
    font-size: 18px;
    letter-spacing: .01em;
    padding-inline-start: 0;
    line-height: 2.38105; 
    margin-top: -25px;
    //margin-left:87px;
    width: 85%;
}
.backgroudImg {
    width: 100%;
    height: 578px;
    margin-left: -17%;
    margin-top: 51px;
    mix-blend-mode: normal;
    opacity: 0.93;
}
.flexPosition{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-left: 31px;
}
.tailleFlexText{
    width: 80%;
}
.tailleFlexImg{
    width: 48%;
}