@import "style";
@import "about";

.contact{
    display: flex;
    flex-direction: column;
    color: #BDBDBD;
    padding-bottom: 2%;
    letter-spacing: .01em;
    padding-inline-start: 0;
    line-height: 2.38105;
    font-size: 18px;
    margin-top: 0px;
    margin-left: 49px;
    width: 665px;
}
.email{
    font-size: 20px;
    color: $styleColor;
    margin-left: 0.5em;
    text-decoration: none;
    @include animationText();
    animation-name: animation-email;
    animation-delay: 0;
}
@keyframes animation-email{
    0%{
       font-size:small;
       opacity: 0;
    }
    100%{
       font-size:20px;
       opacity: 1;
    }
}
input,textarea{
    border-radius: 8px;
    width: 500px;
    height: 40px;
    background-color: $cardsColor;
    border: 2px solid $cardsColor;
}

textarea{
    height: 120px;
}
.btn{
    background-color:$cardsColor;
	width: 148px;
	margin-top: 10px;
    color: #f0860c;
    font-weight: bold;
	padding-bottom: 8px;
	padding-top: 8px;
	font-size: 18px;
    border-radius: 8px;
    border: 2px solid $cardsColor;
}
