@import "work";

.section-detail {
    background-color: rgb(0, 0, 0);
    background-size: cover;
    width: 100%;
    height: 100%;
}
.about-cta-detail{
    @include styleText();
    font-family: sans-serif;
    font-size: 18px;
    padding-top: 4%;
    .go-to-work{
        font-size: 24px;
        text-decoration: none;
        .work-txt{
            color:$styleColor;
            text-decoration: none;
            font-weight: 300;
            margin-left: 3%;
            position: relative;
        }
    }
}

.about-cta-detail .go-to-work .work-txt::before{
    content: '<';
    position: absolute;
    margin-top: 1%;
    margin-left: -9%;
    color: $styleColor
}
.about-cta-detail2{
    font-size: 18px;
    padding-top: 4%;
    margin-left: 0%;
    .go-to-work2{
        font-size: 24px;
        text-decoration: none;
        .work-txt2{
            color:$styleColor;
            text-decoration: none;
            font-weight: 300;
            margin-left: 3%;
            position: relative;
        }
    }
}
.about-cta-detail2 .go-to-work2 .work-txt2::before{
    content: '<';
    position: absolute;
    margin-top: 1%;
    margin-left: -9%;
    color: $styleColor
}
.title{
    color:$primary-color;
    letter-spacing: .01em;
    margin-left:$marginLeft;
    font-size: 22px;
}
.paragraph{
    margin-top: 25px;
    color:$primary-color;
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
    margin-left:$marginLeft;
}
.about-cta-NextProject{
    margin-left: 55%;
    color:$primary-color;
    font-size: 18px;
    padding-bottom: 2%;
    padding-top: 5%;
    .go-to-about-NextProject{
        font-size: 24px;
        text-decoration: none;
        .work-txt-NextProject{
            color:$styleColor;
            text-decoration: none;
            font-weight: 300;
            position: relative;
        }
    }
}
.about-cta-NextProject .go-to-about-NextProject .work-txt-NextProject::after{
    content: '>';
    position: absolute;
    margin-top: -1%;
    margin-right: 2.5%;
    color: $styleColor;
    margin-left: 3%;
    font-size: 117%;
}
.about-cta-contact{
    margin-left: 25%;
    font-family: sans-serif;
    color: white;
    font-size: 18px;
    padding-bottom: 2%;
    padding-top: 5%;
    font-size: 50px;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 65%;
    @include animationText();
    animation-name: animation-detail;
    animation-delay: 0; 
}
@keyframes animation-detail{
    0%{
        padding-left: 10px;
        color: red;
     }
    25%{
        padding-left: -10px;
        color: blue;
    }
    50%{
        padding-left: 10px;
        color: chartreuse;
    }
    75%{
        padding-left: -10px;
        color: cyan;
    }
    100%{
        padding-left: 10px;
        color: white;
    }
}
.about-cta-contact {
    .go-to-about-contact{
    font-family: sans-serif;
    font-size: 24px;
    text-decoration: none;
    .work-txt-contact{
        color: $styleColor;
        text-decoration: none;
        font-weight: 300;
        position: relative;
    }
    }
}
.about-cta-contact .go-to-about-contact .work-txt-contact::after{
    content: '>';
    position: absolute;
    margin-top: -1%;
    margin-right: 2.5%;
    color: $styleColor;
    margin-left: 3%;
    font-size: 117%;
}
p {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }