@import "style";
$gris:#D8D8D8;
$grisFonce:#A4A4A4;

@font-face {
  font-family: icon;
  src: url("https://bennettfeely.com/fonts/icons.woff");
}

///////////////////// Hibernate //////////////////

.hibernate-section, .hibernate-section * {
  box-sizing: border-box;
}

.hibernate-section, .hibernate-section div {
  transition-duration: 0.6s;
}

.hibernate-section {
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  margin-left: 3%;
  margin-bottom: 3%;
  padding: 0.375em 0.375em 0;
  min-height: 2.5em;
  background: #A9ADB6;
  border-radius: 0.25em;
  perspective: 300;
  box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0.25em 1em rgba(0, 0, 0, 0.1);
}

.hibernate-button {
  text-align: center;
  transition-timing-function: ease;
  opacity: 0;
}
.hibernate-button a {
  text-decoration: none;
  font-weight: bold;
  font-size: 11px;
  color: $gris;
}

.hibernate-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: left bottom;
  transform-style: preserve-3d;
  font: 1.25em/2 "icon";
  color: white;
  text-align: center;
  pointer-events: none;
  z-index: 100;
}

.hibernate-inner, .hibernate-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0.25em;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%);
}
.hibernate-inner:after, .hibernate-outer:after {
  content: url('../img/LOGO/logoHibernate.svg');
}

.hibernate-outer {
  background-color:$gris;
  transform: translateZ(0.25em);
}

.hibernate-inner {
  background-color: $gris;
}

.hibernate-section:hover {
  background: #EBEFF2;
}
.hibernate-section:hover .hibernate-button {
  opacity: 1;
}
.hibernate-section:hover .hibernate-cover {
  transform: rotateY(-120deg);
}
.hibernate-section:hover .hibernate-inner {
  background-color: $gris;
}
.hibernate-section:hover .hibernate-outer {
  background-color: $grisFonce;
}
.hibernate-section:hover .hibernate-cover, .hibernate-section:hover .hibernate-inner, .hibernate-section:hover .hibernate-outer {
  transition-timing-function: cubic-bezier(0.2, 0.7, 0.1, 1.1);
}

///////////////////// JPA //////////////////

.jpa-section, .jpa-section * {
  box-sizing: border-box;
}

.jpa-section, .jpa-section div {
  transition-duration: 0.6s;
}

.jpa-section {
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  margin-bottom: 3%;
  padding: 0.375em 0.375em 0;
  min-height: 2.5em;
  background: #A9ADB6;
  border-radius: 0.25em;
  perspective: 300;
  box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0.25em 1em rgba(0, 0, 0, 0.1);
}

.jpa-button {
  text-align: center;
  transition-timing-function: ease;
  opacity: 0;
}
.jpa-button a {
  text-decoration: none;
  font-weight: bold;
  font-size: 11px;
  color: $gris;
}

.jpa-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: left bottom;
  transform-style: preserve-3d;
  font: 1.25em/2 "icon";
  color: white;
  text-align: center;
  pointer-events: none;
  z-index: 100;
}

.jpa-inner, .jpa-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0.25em;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%);
}
.jpa-inner:after, .jpa-outer:after {
  content: url('../img/LOGO/logoJpa.svg');
}

.jpa-outer {
  background-color:$gris;
  transform: translateZ(0.25em);
}

.jpa-inner {
  background-color: $gris;
}

.jpa-section:hover {
  background: #EBEFF2;
}
.jpa-section:hover .jpa-button {
  opacity: 1;
}
.jpa-section:hover .jpa-cover {
  transform: rotateY(-120deg);
}
.jpa-section:hover .jpa-inner {
  background-color: $gris;
}
.jpa-section:hover .jpa-outer {
  background-color: $grisFonce;
}
.jpa-section:hover .jpa-cover, .jpa-section:hover .jpa-inner, .jpa-section:hover .jpa-outer {
  transition-timing-function: cubic-bezier(0.2, 0.7, 0.1, 1.1);
}

///////////////////// Angular

.angular-section, .angular-section * {
  box-sizing: border-box;
}

.angular-section, .angular-section div {
  transition-duration: 0.6s;
}

.angular-section {
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  margin-left: 3%;
  margin-bottom: 3%;
  padding: 0.375em 0.375em 0;
  min-height: 2.5em;
  background: #A9ADB6;
  border-radius: 0.25em;
  perspective: 300;
  box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0.25em 1em rgba(0, 0, 0, 0.1);
}

.angular-button {
  text-align: center;
  transition-timing-function: ease;
  opacity: 0;
}
.angular-button a {
  text-decoration: none;
  font-weight: bold;
  font-size: 11px;
  color: $gris;
}

.angular-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: left bottom;
  transform-style: preserve-3d;
  font: 1.25em/2 "icon";
  color: white;
  text-align: center;
  pointer-events: none;
  z-index: 100;
}

.angular-inner, .angular-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0.25em;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%);
}
.angular-inner::after, .angular-outer::after {
  content: url('../img/LOGO/logoAngular.svg');
}

.angular-outer {
  background-color: $gris;
  transform: translateZ(0.25em);
}

.angular-inner {
  background-color: $gris;
}

.angular-section:hover {
  background: #EBEFF2;
}
.angular-section:hover .angular-button {
  opacity: 1;
}
.angular-section:hover .angular-cover {
  transform: rotateY(-120deg);
}
.angular-section:hover .angular-inner {
  background-color: $gris;
}
.angular-section:hover .angular-outer {
  background-color: $grisFonce;
}
.angular-section:hover .angular-cover, .angular-section:hover .angular-inner, .angular-section:hover .angular-outer {
  transition-timing-function: cubic-bezier(0.2, 0.7, 0.1, 1.1);
}

//////////////////// Bootstrapp

.bootstrap-section, .bootstrap-section * {
  box-sizing: border-box;
}

.bootstrap-section, .bootstrap-section div {
  transition-duration: 0.6s;
}

.bootstrap-section {
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  padding: 0.375em 0.375em 0;
  min-height: 2.5em;
  margin-bottom: 3%;
  background: #A9ADB6;
  border-radius: 0.25em;
  perspective: 300;
  box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0.25em 1em rgba(0, 0, 0, 0.1);
}

.bootstrap-button {
  text-align: center;
  transition-timing-function: ease;
  opacity: 0;
}
.bootstrap-button a {
  text-decoration: none;
  font-weight: bold;
  color: $gris;
  font-size: 11px;
}

.bootstrap-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: left bottom;
  transform-style: preserve-3d;
  font: 1.25em/2 "icon";
  color: white;
  text-align: center;
  pointer-events: none;
  z-index: 100;
}

.bootstrap-inner, .bootstrap-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0.25em;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%);
}
.bootstrap-inner:after, .bootstrap-outer:after {
  content: url('../img/LOGO/logoBootstrap.svg');
}

.bootstrap-outer {
  background-color: $gris;
  transform: translateZ(0.25em);
}

.bootstrap-inner {
  background-color: $gris;
}

.bootstrap-section:hover {
  background: #EBEFF2;
}
.bootstrap-section:hover .bootstrap-button {
  opacity: 1;
}
.bootstrap-section:hover .bootstrap-cover {
  transform: rotateY(-120deg);
}
.bootstrap-section:hover .bootstrap-inner {
  background-color: $gris;
}
.bootstrap-section:hover .bootstrap-outer {
  background-color: $grisFonce;
}
.bootstrap-section:hover .bootstrap-cover, .bootstrap-section:hover .bootstrap-inner, .bootstrap-section:hover .bootstrap-outer {
  transition-timing-function: cubic-bezier(0.2, 0.7, 0.1, 1.1);
}

//////////////////// Jquery 

.jquery-section, .jquery-section * {
  box-sizing: border-box;
}

.jquery-section, .jquery-section div {
  transition-duration: 0.6s;
}

.jquery-section {
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  margin-bottom: 3%;
  margin-left: 3%;
  padding: 0.375em 0.375em 0;
  min-height: 2.5em;
  background: #A9ADB6;
  border-radius: 0.25em;
  perspective: 300;
  box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0.25em 1em rgba(0, 0, 0, 0.1);
}

.jquery-button {
  text-align: center;
  transition-timing-function: ease;
  opacity: 0;
}
.jquery-button a {
  text-decoration: none;
  font-weight: bold;
  font-size: 11px;
  color: $gris;
}

.jquery-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: left bottom;
  transform-style: preserve-3d;
  font: 1.25em/2 "icon";
  color: white;
  text-align: center;
  pointer-events: none;
  z-index: 100;
}

.jquery-inner, .jquery-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0.25em;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%);
}
.jquery-inner:after, .jquery-outer:after {
  content: url('../img/LOGO/logoJquery.svg');
}

.jquery-outer {
  background-color: $gris;
  transform: translateZ(0.25em);
}

.jquery-inner {
  background-color: $gris;
}

.jquery-section:hover {
  background: #EBEFF2;
}
.jquery-section:hover .jquery-button {
  opacity: 1;
}
.jquery-section:hover .jquery-cover {
  transform: rotateY(-120deg);
}
.jquery-section:hover .jquery-inner {
  background-color: $gris;
}
.jquery-section:hover .jquery-outer {
  background-color: $grisFonce;
}
.jquery-section:hover .jquery-cover, .jquery-section:hover .jquery-inner, .jquery-section:hover .jquery-outer {
  transition-timing-function: cubic-bezier(0.2, 0.7, 0.1, 1.1);
}


//////////////////// JS
.JS-section, .JS-section * {
  box-sizing: border-box;
}

.JS-section, .JS-section div {
  transition-duration: 0.6s;
}

.JS-section {
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  margin-bottom: 3%;
  padding: 0.375em 0.375em 0;
  min-height: 2.5em;
  background: #A9ADB6;
  border-radius: 0.25em;
  perspective: 300;
  box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0.25em 1em rgba(0, 0, 0, 0.1);
}

.JS-button {
  text-align: center;
  transition-timing-function: ease;
  opacity: 0;
}
.JS-button a {
  text-decoration: none;
  font-weight: bold;
  font-size: 11px;
  color:$gris;
}

.JS-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: left bottom;
  transform-style: preserve-3d;
  font: 1.25em/2 "icon";
  color: white;
  text-align: center;
  pointer-events: none;
  z-index: 100;
}

.JS-inner, .JS-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0.25em;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%);
}
.JS-inner:after, .JS-outer:after {
  content: url('../img/LOGO/logoJS.svg');
}

.JS-outer {
  background-color:$gris;
  transform: translateZ(0.25em);
}

.JS-inner {
  background-color: $gris;
}

.JS-section:hover {
  background: $gris;
}
.JS-section:hover .JS-button {
  opacity: 1;
}
.JS-section:hover .JS-cover {
  transform: rotateY(-120deg);
}
.JS-section:hover .JS-inner {
  background-color: $gris;
}
.JS-section:hover .JS-outer {
  background-color: $grisFonce;
}
.JS-section:hover .JS-cover, .JS-section:hover .JS-inner, .JS-section:hover .JS-outer {
  transition-timing-function: cubic-bezier(0.2, 0.7, 0.1, 1.1);
}

//////////////////// Spring Boot
.springBoot-section, .springBoot-section * {
  box-sizing: border-box;
}

.springBoot-section, .springBoot-section div {
  transition-duration: 0.6s;
}

.springBoot-section {
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  margin-bottom: 3%;
  padding: 0.375em 0.375em 0;
  min-height: 2.5em;
  background: #A9ADB6;
  border-radius: 0.25em;
  perspective: 300;
  box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0.25em 1em rgba(0, 0, 0, 0.1);
}

.springBoot-button {
  text-align: center;
  transition-timing-function: ease;
  opacity: 0;
}
.springBoot-button a {
  text-decoration: none;
  font-weight: bold;
  font-size: 11px;
  color: $gris;
}

.springBoot-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: left bottom;
  transform-style: preserve-3d;
  font: 1.25em/2 "icon";
  color: white;
  text-align: center;
  pointer-events: none;
  z-index: 100;
}

.springBoot-inner, .springBoot-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0.25em;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%);
}
.springBoot-inner:after, .springBoot-outer:after {
  content: url('../img/LOGO/logoSpring.svg');
}

.springBoot-outer {
  background-color: $gris;
  transform: translateZ(0.25em);
}

.springBoot-inner {
  background-color: $gris;
}

.springBoot-section:hover {
  background: #EBEFF2;
}
.springBoot-section:hover .springBoot-button {
  opacity: 1;
}
.springBoot-section:hover .springBoot-cover {
  transform: rotateY(-120deg);
}
.springBoot-section:hover .springBoot-inner {
  background-color: $gris;
}
.springBoot-section:hover .springBoot-outer {
  background-color: $grisFonce;
}
.springBoot-section:hover .JS-cover, .JS-section:hover .JS-inner, .JS-section:hover .JS-outer {
  transition-timing-function: cubic-bezier(0.2, 0.7, 0.1, 1.1);
}

//////////////////// NoSQL
.NoSQL-section, .NoSQL-section * {
  box-sizing: border-box;
}

.NoSQL-section, .NoSQL-section div {
  transition-duration: 0.6s;
}

.NoSQL-section {
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  margin-bottom: 3%;
  padding: 0.375em 0.375em 0;
  min-height: 2.5em;
  background: #A9ADB6;
  border-radius: 0.25em;
  perspective: 300;
  box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0.25em 1em rgba(0, 0, 0, 0.1);
}

.NoSQL-button {
  text-align: center;
  transition-timing-function: ease;
  opacity: 0;
}
.NoSQL-button a {
  text-decoration: none;
  font-weight: bold;
  font-size: 11px;
  color:$gris;
}

.NoSQL-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: left bottom;
  transform-style: preserve-3d;
  font: 1.25em/2 "icon";
  color: white;
  text-align: center;
  pointer-events: none;
  z-index: 100;
}

.NoSQL-inner, .NoSQL-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0.25em;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%);
}
.NoSQL-inner:after, .NoSQL-outer:after {
  content: url('../img/LOGO/logoNoSQL.svg');
}

.NoSQL-outer {
  background-color:$gris;
  transform: translateZ(0.25em);
}

.NoSQL-inner {
  background-color: $gris;
}

.NoSQL-section:hover {
  background: #EBEFF2;
}
.NoSQL-section:hover .NoSQL-button {
  opacity: 1;
}
.NoSQL-section:hover .NoSQL-cover {
  transform: rotateY(-120deg);
}
.NoSQL-section:hover .NoSQL-inner {
  background-color: $gris;
}
.NoSQL-section:hover .NoSQL-outer {
  background-color:$grisFonce;
}
.NoSQL-section:hover .NoSQL-cover, .NoSQL-section:hover .NoSQL-inner, .NoSQL-section:hover .NoSQL-outer {
  transition-timing-function: cubic-bezier(0.2, 0.7, 0.1, 1.1);
}

//////////////////// HTML
.HTML-section, .HTML-section * {
  box-sizing: border-box;
}

.HTML-section, .HTML-section div {
  transition-duration: 0.6s;
}

.HTML-section {
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  margin-bottom: 3%;
  margin-left: 3%;
  padding: 0.375em 0.375em 0;
  min-height: 2.5em;
  background: #A9ADB6;
  border-radius: 0.25em;
  perspective: 300;
  box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0.25em 1em rgba(0, 0, 0, 0.1);
}

.HTML-button {
  text-align: center;
  transition-timing-function: ease;
  opacity: 0;
}
.HTML-button a {
  text-decoration: none;
  font-weight: bold;
  font-size: 11px;
  color:$gris;
}

.HTML-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: left bottom;
  transform-style: preserve-3d;
  font: 1.25em/2 "icon";
  color: white;
  text-align: center;
  pointer-events: none;
  z-index: 100;
}

.HTML-inner, .HTML-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0.25em;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%);
}
.HTML-inner:after, .HTML-outer:after {
  content: url('../img/LOGO/logoHtml.svg');
}

.HTML-outer {
  background-color:$gris;
  transform: translateZ(0.25em);
}

.HTML-inner {
  background-color: $gris;
}

.HTML-section:hover {
  background: #EBEFF2;
}
.HTML-section:hover .HTML-button {
  opacity: 1;
}
.HTML-section:hover .HTML-cover {
  transform: rotateY(-120deg);
}
.HTML-section:hover .HTML-inner {
  background-color: $gris;
}
.HTML-section:hover .HTML-outer {
  background-color:$grisFonce;
}
.HTML-section:hover .HTML-cover, .HTML-section:hover .HTML-inner, .HTML-section:hover .HTML-outer {
  transition-timing-function: cubic-bezier(0.2, 0.7, 0.1, 1.1);
}

//////////////////// CSS
.CSS-section, .CSS-section * {
  box-sizing: border-box;
}

.CSS-section, .CSS-section div {
  transition-duration: 0.6s;
}

.CSS-section {
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  margin-bottom: 3%;
  padding: 0.375em 0.375em 0;
  min-height: 2.5em;
  background: #A9ADB6;
  border-radius: 0.25em;
  perspective: 300;
  box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0.25em 1em rgba(0, 0, 0, 0.1);
}

.CSS-button {
  text-align: center;
  transition-timing-function: ease;
  opacity: 0;
}
.CSS-button a {
  text-decoration: none;
  font-weight: bold;
  font-size: 11px;
  color:$gris;
}

.CSS-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: left bottom;
  transform-style: preserve-3d;
  font: 1.25em/2 "icon";
  color: white;
  text-align: center;
  pointer-events: none;
  z-index: 100;
}

.CSS-inner, .CSS-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0.25em;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%);
}
.CSS-inner:after, .CSS-outer:after {
  content: url('../img/LOGO/logoCss.svg');
}

.CSS-outer {
  background-color:$gris;
  transform: translateZ(0.25em);
}

.CSS-inner {
  background-color: $gris;
}

.CSS-section:hover {
  background: #EBEFF2;
}
.CSS-section:hover .CSs-button {
  opacity: 1;
}
.CSS-section:hover .CSS-cover {
  transform: rotateY(-120deg);
}
.CSS-section:hover .CSS-inner {
  background-color: $gris;
}
.CSS-section:hover .CSS-outer {
  background-color:$grisFonce;
}
.CSS-section:hover .CSS-cover, .CSS-section:hover .CSS-inner, .CSS-section:hover .CSS-outer {
  transition-timing-function: cubic-bezier(0.2, 0.7, 0.1, 1.1);
}

//////////////////// Jquery2
.Jquery2-section, .Jquery2-section * {
  box-sizing: border-box;
}

.Jquery2-section, .Jquery2-section div {
  transition-duration: 0.6s;
}

.Jquery2-section {
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  margin-bottom: 3%;
  padding: 0.375em 0.375em 0;
  min-height: 2.5em;
  background: #A9ADB6;
  border-radius: 0.25em;
  perspective: 300;
  box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0.25em 1em rgba(0, 0, 0, 0.1);
}

.Jquery2-button {
  text-align: center;
  transition-timing-function: ease;
  opacity: 0;
}
.Jquery2-button a {
  //text-decoration: none;
  font-weight: bold;
  font-size: 11px;
  color:$gris;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Jquery2-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: left bottom;
  transform-style: preserve-3d;
  font: 1.25em/2 "icon";
  color: white;
  text-align: center;
  pointer-events: none;
  z-index: 100;
}

.Jquery2-inner, .Jquery2-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0.25em;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%);
}
.Jquery2-inner:after, .Jquery2-outer:after {
  content: url('../img/LOGO/logoJquery.svg');
}

.Jquery2-outer {
  background-color:$gris;
  transform: translateZ(0.25em);
}

.Jquery2-inner {
  background-color: $gris;
}

.Jquery2-section:hover {
  background: #EBEFF2;
}
.Jquery2-section:hover .Jquery2-button {
  opacity: 1;
}
.Jquery2-section:hover .Jquery2-cover {
  transform: rotateY(-120deg);
}
.Jquery2-section:hover .Jquery2-inner {
  background-color: $gris;
}
.Jquery2-section:hover .Jquery2-outer {
  background-color:$grisFonce;
}
.Jquery2-section:hover .Jquery2-cover, .Jquery2-section:hover .Jquery2-inner, .Jquery2-section:hover .Jquery2-outer {
  transition-timing-function: cubic-bezier(0.2, 0.7, 0.1, 1.1);
}

//////////////////// Bootstrapp2
.Bootstrapp2-section, .Bootstrapp2-section * {
  box-sizing: border-box;
}

.Bootstrapp2-section, .Bootstrapp2-section div {
  transition-duration: 0.6s;
}

.Bootstrapp2-section {
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  margin-bottom: 3%;
  margin-left: 3%;
  padding: 0.375em 0.375em 0;
  min-height: 2.5em;
  background: #A9ADB6;
  border-radius: 0.25em;
  perspective: 300;
  box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0.25em 1em rgba(0, 0, 0, 0.1);
}

.Bootstrapp2-button {
  text-align: center;
  transition-timing-function: ease;
  opacity: 0;
}
.Bootstrapp2-button a {
  text-decoration: none;
  font-weight: bold;
  font-size: 11px;
  color:$gris;
}

.Bootstrapp2-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: left bottom;
  transform-style: preserve-3d;
  font: 1.25em/2 "icon";
  color: white;
  text-align: center;
  pointer-events: none;
  z-index: 100;
}

.Bootstrapp2-inner, .Bootstrapp2-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0.25em;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%);
}
.Bootstrapp2-inner:after, .Bootstrapp2-outer:after {
  content: url('../img/LOGO/logoBootstrap.svg');
}

.Bootstrapp2-outer {
  background-color:$gris;
  transform: translateZ(0.25em);
}

.Bootstrapp2-inner {
  background-color: $gris;
}

.Bootstrapp2-section:hover {
  background: #EBEFF2;
}
.Bootstrapp2-section:hover .Bootstrapp2-button {
  opacity: 1;
}
.Bootstrapp2-section:hover .Bootstrapp2-cover {
  transform: rotateY(-120deg);
}
.Bootstrapp2-section:hover .Bootstrapp2-inner {
  background-color: $gris;
}
.Bootstrapp2-section:hover .Bootstrapp2-outer {
  background-color:$grisFonce;
}
.Bootstrapp2-section:hover .Bootstrapp2-cover, .Bootstrapp2-section:hover .Bootstrapp2-inner, .Bootstrapp2-section:hover .Bootstrapp2-outer {
  transition-timing-function: cubic-bezier(0.2, 0.7, 0.1, 1.1);
}



//////////////////// React
.react-section, .react-section * {
  box-sizing: border-box;
}

.react-section, .react-section div {
  transition-duration: 0.6s;
}

.react-section {
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  margin-bottom: 3%;
  margin-left: 3%;
  padding: 0.375em 0.375em 0;
  min-height: 2.5em;
  background: #A9ADB6;
  border-radius: 0.25em;
  perspective: 300;
  box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0.25em 1em rgba(0, 0, 0, 0.1);
}

.react-button {
  text-align: center;
  transition-timing-function: ease;
  opacity: 0;
}
.react-button a {
  text-decoration: none;
  font-weight: bold;
  font-size: 11px;
  color:$gris;
}

.react-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: left bottom;
  transform-style: preserve-3d;
  font: 1.25em/2 "icon";
  color: white;
  text-align: center;
  pointer-events: none;
  z-index: 100;
}

.react-inner, .react-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0.25em;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%);
}
.react-inner:after, .react-outer:after {
  content: url('../img/LOGO/logoReact.svg');
}

.react-outer {
  background-color:$gris;
  transform: translateZ(0.25em);
}

.react-inner {
  background-color: $gris;
}

.react-section:hover {
  background: #EBEFF2;
}
.react-section:hover .react-button {
  opacity: 1;
}
.react-section:hover .react-cover {
  transform: rotateY(-120deg);
}
.react-section:hover .react-inner {
  background-color: $gris;
}
.react-section:hover .react-outer {
  background-color:$grisFonce;
}
.react-section:hover .react-cover, .react-section:hover .react-inner, .react-section:hover .react-outer {
  transition-timing-function: cubic-bezier(0.2, 0.7, 0.1, 1.1);
}

//////////////////// RWD
.RWD-section, .RWD-section * {
  box-sizing: border-box;
}

.RWD-section, .RWD-section div {
  transition-duration: 0.6s;
}

.RWD-section {
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  margin-bottom: 3%;
  margin-left: 3%;
  padding: 0.375em 0.375em 0;
  min-height: 2.5em;
  background: #A9ADB6;
  border-radius: 0.25em;
  perspective: 300;
  box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0.25em 1em rgba(0, 0, 0, 0.1);
}

.RWD-button {
  text-align: center;
  transition-timing-function: ease;
  opacity: 0;
}
.RWD-button a {
  text-decoration: none;
  font-weight: bold;
  font-size: 11px;
  color:$gris;
}

.RWD-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: left bottom;
  transform-style: preserve-3d;
  font: 1.25em/2 "icon";
  color: white;
  text-align: center;
  pointer-events: none;
  z-index: 100;
}

.RWD-inner, .RWD-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0.25em;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%);
}
.RWD-inner:after, .RWD-outer:after {
  content: url('../img/LOGO/logoRWD.svg');
}

.RWD-outer {
  background-color:$gris;
  transform: translateZ(0.25em);
}

.RWD-inner {
  background-color: $gris;
}

.RWD-section:hover {
  background: #EBEFF2;
}
.RWD-section:hover .RWD-button {
  opacity: 1;
}
.RWD-section:hover .RWD-cover {
  transform: rotateY(-120deg);
}
.RWD-section:hover .RWD-inner {
  background-color: $gris;
}
.RWD-section:hover .RWD-outer {
  background-color:$grisFonce;
}
.RWD-section:hover .RWD-cover, .RWD-section:hover .RWD-inner, .RWD-section:hover .RWD-outer {
  transition-timing-function: cubic-bezier(0.2, 0.7, 0.1, 1.1);
}