@import "style";

.fa-color {
    color : white;
}
.fa-color2 {
    color : $primary-color;
}
.fa-color-style{
    color : #f0860c;

}
.fa-tailleIcon{
    width: 50px;
    height: 40px; 
}

.fa-tailledot{
    width: 20px;
    height: 20px; 
}
.fa-tailledot2{
    width: 3px;
    height: 3px; 
    margin-right: 4%;
}

