@import "style";

#SkillBox {
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    width: 40%;
    height: auto;
    margin-left: $marginLeft;
    margin: 40px auto;
    background-color:transparent;
    padding: 10px;
    border-radius:20px; 
    border: 2px solid white;
    backdrop-filter: blur(4px);
    box-shadow: 0 3px 6px beige;
}
#SkillBoxLanguages {
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    width: 40%;
    height: auto;
    margin-right: $marginLeft;
    margin: 40px auto;
    background-color:transparent;
    margin-left:-33px;
    padding: 10px;
    border-radius:20px; 
    border: 2px solid white;
    backdrop-filter: blur(4px);
    box-shadow: 0 3px 6px beige;
}
#SkillBox  img {
    //width: 20%;
    //height: 10%;
    width: 87px;
    height: 87px;
    margin: auto 35%;
    padding: 10px;
    //margin-top: -40px;
    margin-top: -17px;
}
#SkillBoxLanguages img {
    width: 87px;
    height: 87px;
    margin: auto 35%;
    padding: 10px;
    //margin-top: -40px;
    margin-top: -17px;
}
.SkillBar {
    width: 90%;
    height: 50px;
    position: relative;
   // background: rgba(17, 17, 17, .3);
    background: $cardsColor;
    margin: 20px auto;
}
#Skill-100 {
    width: 100%;
    animation: Animate-100 4s;
    -webkit-animation: Animate-100 4s;
    -moz-animation: Animate-100 4s;
    -o-animation: Animate-100 4s;
    height: 50px;
    position: absolute;
    background-color: #ea8564;
}
@keyframes Animate-100 {
    from {
    width: 10px;
}
to {
    width: 100%}
}@-webkit-keyframes Animate-100 {
    from {
    width: 10px;
}
to {
    width: 100%}
}@-moz-keyframes Animate-100 {
    from {
    width: 10px;
}
to {
    width: 100%}
}@-o-keyframes Animate-100 {
    from {
    width: 10px;
}
to {
    width: 100%}
}
#Skill-90 {
    width: 90%;
    animation: Animate-90 4s;
    -webkit-animation: Animate-90 4s;
    -moz-animation: Animate-90 4s;
    -o-animation: Animate-90 4s;
    height: 50px;
    position: absolute;
    background-color: #e1f05cbd;
}
@keyframes Animate-90 {
    from {
    width: 10px;
}
to {
    width: 90%}
}@-webkit-keyframes Animate-90 {
    from {
    width: 10px;
}
to {
    width: 90%}
}@-moz-keyframes Animate-90 {
    from {
    width: 10px;
}
to {
    width: 90%}
}@-o-keyframes Animate-90 {
    from {
    width: 10px;
}
to {
    width: 90%}
}

#Skill-95 {
    width: 95%;
    animation: Animate-95 4s;
    -webkit-animation: Animate-95 4s;
    -moz-animation: Animate-95 4s;
    -o-animation: Animate-95 4s;
    height: 50px;
    position: absolute;
    background-color: #a51616bd;
}
@keyframes Animate-95 {
    from {
    width: 10px;
}
to {
    width: 95%}
}@-webkit-keyframes Animate-95 {
    from {
    width: 10px;
}
to {
    width: 95%}
}@-moz-keyframes Animate-95 {
    from {
    width: 10px;
}
to {
    width: 95%}
}@-o-keyframes Animate-95 {
    from {
    width: 10px;
}
to {
    width: 95%}
}

#Skill-70 {
    animation: Animate-70 5s;
    -webkit-animation: Animate-70 5s;
    -moz-animation: Animate-70 5s;
    -o-animation: Animate-70 5s;
    width: 70%;
    height: 50px;
    position: absolute;
    background-color: #a396b4;
}
@keyframes Animate-70 {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-webkit-keyframes Animate-70 {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-moz-keyframes Animate-70 {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-o-keyframes Animate-70 {
    from {
    width: 10px;
}
to {
    width: 70%}
}

#Skill-75 {
    animation: Animate-75 5s;
    -webkit-animation: Animate-75 5s;
    -moz-animation: Animate-75 5s;
    -o-animation: Animate-75 5s;
    width: 75%;
    height: 50px;
    position: absolute;
    background-color: #55a69f;
}
@keyframes Animate-75 {
    from {
    width: 10px;
}
to {
    width: 75%}
}@-webkit-keyframes Animate-75 {
    from {
    width: 10px;
}
to {
    width: 75%}
}@-moz-keyframes Animate-75 {
    from {
    width: 10px;
}
to {
    width: 75%}
}@-o-keyframes Animate-75 {
    from {
    width: 10px;
}
to {
    width: 75%}
}


#Skill-40 {
    animation: Animate-40 5s;
    -webkit-animation: Animate-40 5s;
    -moz-animation: Animate-40 5s;
    -o-animation: Animate-40 5s;
    width: 40%;
    height: 50px;
    position: absolute;
    background-color: #acad42;
}
@keyframes Animate-40 {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-webkit-keyframes Animate-40 {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-moz-keyframes Animate-40 {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-o-keyframes Animate-40 {
    from {
    width: 10px;
}
to {
    width: 40%}
}

#Skill-60 {
    animation: Animate-60 5s;
    -webkit-animation: Animate-60 5s;
    -moz-animation: Animate-60 5s;
    -o-animation: Animate-60 5s;
    width: 60%;
    height: 50px;
    position: absolute;
    background-color: #99856d;
}
@keyframes Animate-60 {
    from {
    width: 10px;
}
to {
    width: 60%}
}@-webkit-keyframes Animate-60 {
    from {
    width: 10px;
}
to {
    width: 60%}
}@-moz-keyframes Animate-60 {
    from {
    width: 10px;
}
to {
    width: 60%}
}@-o-keyframes Animate-60 {
    from {
    width: 10px;
}
to {
    width: 60%}
}

#Skill-65 {
    animation: Animate-65 4s;
    -webkit-animation: Animate-65 4s;
    -moz-animation: Animate-65 4s;
    -o-animation: Animate-65 4s;
    width: 65%;
    height: 50px;
    position: absolute;
    background-color: #c44e45;
}
@keyframes Animate-65 {
    from {
    width: 10px;
}
to {
    width: 65%}
}@-webkit-keyframes Animate-65 {
    from {
    width: 10px;
}
to {
    width: 65%}
}@-moz-keyframes Animate-65 {
    from {
    width: 10px;
}
to {
    width: 65%}
}@-o-keyframes Animate-65 {
    from {
    width: 10px;
}
to {
    width: 65%}
}

#Skill-85 {
    animation: Animate-85 4s;
    -webkit-animation: Animate-85 4s;
    -moz-animation: Animate-85 4s;
    -o-animation: Animate-85 4s;
    width: 85%;
    height: 50px;
    position: absolute;
    background-color: #af6f8d;
}
@keyframes Animate-85 {
    from {
    width: 10px;
}
to {
    width: 85%}
}@-webkit-keyframes Animate-85 {
    from {
    width: 10px;
}
to {
    width: 85%}
}@-moz-keyframes Animate-85 {
    from {
    width: 10px;
}
to {
    width: 85%}
}@-o-keyframes Animate-85 {
    from {
    width: 10px;
}
to {
    width: 85%}
}

#Skill-40 {
    animation: Animate-40 4s;
    -webkit-animation: Animate-40 4s;
    -moz-animation: Animate-40 4s;
    -o-animation: Animate-40 4s;
    width: 40%;
    height: 50px;
    position: absolute;
    background-color: #5aa669;
}
@keyframes Animate-40 {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-webkit-keyframes Animate-40 {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-moz-keyframes Animate-40 {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-o-keyframes Animate-40 {
    from {
    width: 10px;
}
to {
    width: 40%}
}
#Skill-30 {
    animation: Animate-30 4s;
    -webkit-animation: Animate-30 4s;
    -moz-animation: Animate-30 4s;
    -o-animation: Animate-30 4s;
    width: 30%;
    height: 50px;
    position: absolute;
    background-color: #970cc1;
}
@keyframes Animate-30 {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-webkit-keyframes Animate-30 {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-moz-keyframes Animate-30 {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-o-keyframes Animate-30 {
    from {
    width: 10px;
}
to {
    width: 30%}
}
#Skill-25 {
    animation: Animate-25 4s;
    -webkit-animation: Animate-25 4s;
    -moz-animation: Animate-25 4s;
    -o-animation: Animate-25 4s;
    width: 25%;
    height: 50px;
    position: absolute;
    background-color: #8e930c;
}
@keyframes Animate-25 {
    from {
    width: 10px;
}
to {
    width: 25%}
}@-webkit-keyframes Animate-25 {
    from {
    width: 10px;
}
to {
    width: 25%}
}@-moz-keyframes Animate-25 {
    from {
    width: 10px;
}
to {
    width: 25%}
}@-o-keyframes Animate-25 {
    from {
    width: 10px;
}
to {
    width: 25%}
}

#Skill-50 {
    animation: Animate-50 4s;
    -webkit-animation: Animate-50 4s;
    -moz-animation: Animate-50 4s;
    -o-animation: Animate-50 4s;
    width: 50%;
    height: 50px;
    position: absolute;
    background-color: #5A69A6;
}
@keyframes Animate-50 {
    from {
    width: 10px;
}
to {
    width: 50%}
}@-webkit-keyframes Animate-50 {
    from {
    width: 10px;
}
to {
    width: 50%}
}@-moz-keyframes Animate-50 {
    from {
    width: 10px;
}
to {
    width: 50%}
}@-o-keyframes Animate-50 {
    from {
    width: 10px;
}
to {
    width: 50%}
}

#Skill-80 {
    animation: Animate-80 4s;
    -webkit-animation: Animate-80 4s;
    -moz-animation: Animate-80 4s;
    -o-animation: Animate-80 4s;
    width: 80%;
    height: 50px;
    position: absolute;
    background-color: #23b1db;
}
@keyframes Animate-80 {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-webkit-keyframes Animate-80 {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-moz-keyframes Animate-80 {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-o-keyframes Animate-80 {
    from {
    width: 10px;
}
to {
    width: 80%}
}
#Skill-35 {
    animation: Animate-35 4s;
    -webkit-animation: Animate-35 4s;
    -moz-animation: Animate-35 4s;
    -o-animation: Animate-35 4s;
    width: 35%;
    height: 50px;
    position: absolute;
    background-color: #f8a51e;
}
@keyframes Animate-35 {
    from {
    width: 10px;
}
to {
    width: 35%}
}@-webkit-keyframes Animate-35 {
    from {
    width: 10px;
}
to {
    width: 35%}
}@-moz-keyframes Animate-35 {
    from {
    width: 10px;
}
to {
    width: 35%}
}@-o-keyframes Animate-35 {
    from {
    width: 10px;
}
to {
    width: 35%}
}

.Skill-Area {
    z-index: 1;
    float: left;
    //position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    text-shadow: none;
    color: #fff;
    font-size: 18px;
}
.PercentText {
    z-index: 3;
    position: relative;
    padding-right: 15px;
    margin-top: 15px;
    float: right;
    text-shadow: none;
    color: #fff;
    font-size: 18px;
}
.FlexSkills{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.skill-txt{
    font-size: 25px;
    color:$primary-color;
}
.skill-title{
    font-size: 25px;
    color:$cardsColor;
    margin-top: -10%;
}

//////////////////////////////////////////// Responsive /////////////////////////////
@media screen and (max-width: 425px) {
    .FlexSkills{
        flex-direction: column-reverse;
    }
    #SkillBox {
        width: 87%;
        margin-top: -5px;
    }
    #SkillBoxLanguages{
        width: 87%;
        margin-left: $marginLeft;
        margin-top: 0%;
    }  
    .Skill-Area , .PercentText{
        font-size: 14px;
    }
    #SkillBox img {
        margin-top: 0%;
        margin-bottom: 1%;
    }
    #SkillBoxLanguages img {
        margin-top: 0%;
        margin-bottom: 1%;
    }
}
  @media screen and (min-width: 426px ) and (max-width: 768px ){
    .FlexSkills{
        flex-direction: column-reverse;
    }
    #SkillBox {
        width: 87%;
        margin-top: -5px;
    }
    #SkillBoxLanguages{
        width: 87%;
        margin-left: $marginLeft;
        margin-top: 0%;
    } 
    .Skill-Area , .PercentText{
        font-size: 14px;
    }
    #SkillBox img {
        margin-top: 0%;
        margin-bottom: 1%;
    }
    #SkillBoxLanguages img {
        margin-top: 0%;
        margin-bottom: 1%;
    }
  }