$primary-color:#BDBDBD;
$backgroundColor:black;
$cardsColor :#4F4F4F;
$styleColor: #f0860c;
$font-stack:"robotoregular";
$workBoxColor:#fff;
$marginLeft:7%;

///////////////////////////////
@mixin styleText {
    margin-left: $marginLeft;
    color:$primary-color;
    padding-bottom: 2%;
}
@mixin animationText {
    animation-duration: 2000ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;  
}

.home-name{
    margin-left: $marginLeft;
    color:$primary-color;
    padding-bottom: 2%;
    font-size: 25px;
    padding-top: 70px;
    @include animationText();
    animation-name: animation-home;
    animation-delay: 0;
}
@keyframes animation-home{
    0%{
        padding-left: 0%;
        color:$primary-color;
     }
    25%{
        padding-left: -10px;
        color:$styleColor;
    }
    50%{
        padding-left: 0%;
        color: $primary-color
    }
    75%{
        padding-left: -10px;
        color:$styleColor;
    }
    100%{
        padding-left: 0%;
        color:$primary-color;
    }
}
.home-profession{
    margin-left: $marginLeft;
    color:$primary-color;
    padding-bottom: 2%;
    font-weight: bold;
    font-size: 50px;
    opacity:0;
    @include animationText();
    animation-name: animation-home-profession;
    animation-delay: 400ms;
}
@keyframes animation-home-profession{
    0%{
        opacity: 0;
    }
   100%{
        opacity: 1;
    }
}
.home-skills{
    margin-left: $marginLeft;
    padding-inline-start: 0;
    li{
        font-size: 21px;
        line-height: 1.38105;
        font-weight: 400; 
        letter-spacing: .01em;
        margin-bottom: 14px;
        opacity: 0;
        a{
            color: #ccc;
            text-decoration: none;
        }
    }
}
.home-skills li:nth-child(1){
    @include animationText();
    animation-name: animation-li;
    animation-delay: 800ms;
}
.home-skills li:nth-child(2){
    @include animationText();
    animation-name: animation-li;
    animation-delay: 1200ms;
}
.home-skills li:nth-child(3){
    @include animationText();
    animation-name: animation-li;
    animation-delay: 1600ms;
}
.home-skills li:nth-child(4){
    @include animationText();
    animation-name: animation-li;
    animation-delay: 2000ms;
}
@keyframes animation-li{
    0%{
        opacity: 0;
    }
   100%{
        opacity: 1;
    }
}
.txt-style3{
    color:$primary-color;
    padding-bottom: 2%;
    font-size: 18px;
    letter-spacing: .01em;
    padding-inline-start: 0;
    line-height: 2.38105; 
    margin-top: -30px;
    margin-left:$marginLeft;
}
.position{
    position: relative;
    display: flex;
    justify-content: center;
}
.cardsFlex{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.card{
    width: 17%;
    height: auto;
    background: $cardsColor;
    border-radius: 25px;
    margin-left: 1%;
    margin-top: 316px;
    mix-blend-mode: normal;
    opacity: 0.93;
}

.title-cards{
    display: flex;
    justify-content: center;
    font-family: Sansation;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    animation: blur .75s ease-out infinite;
    text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
  }
  @keyframes blur {
    from {
      text-shadow:0px 0px 10px #fff,
        0px 0px 10px #fff, 
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #7B96B8,
        0px 0px 150px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px -10px 100px #7B96B8,
        0px -10px 100px #7B96B8;
    }
  }
  
.txt-cards{
    margin-left: 8px;
    margin-top: 15px;
    font-family: Sansation;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    display: flex;
    color:$primary-color;
    line-height: 1.38105; 
}
.txt-cards2{
    margin-left: 8px;
    margin-top: 10px;
    font-family: Sansation;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    color: $primary-color;
    line-height: 1.38105;  
    display: flex;
}
.title-cards2{
    margin-left: 8px;
    margin-top: 10px;
    font-family: Sansation;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    color: $styleColor;
}
.title-cards3{
    margin-left: 8px;
    margin-top: 10px;
    font-family: Sansation;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: $styleColor;;
}

.txt-cards3{
    margin-left: 8px;
    margin-top: 10px;
    font-family: Sansation;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: $primary-color;
    line-height: 1.38105; 
}

.imgSVG{
    //position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
    margin-top: 10px;
}
.ligneH{
    position: absolute;
    width: 33px;
    height: 0px;
    border: 3px solid $cardsColor;
    transform: rotate(90deg);
    display: flex;
    justify-content: center;
    margin-top: 264px;
}
.ligneV{
    position: absolute;
    width: 55%;
    height: 0px;
    border: 3px solid #4F4F4F;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 277px;
}
.ligneFlex{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
    margin-left: -33%
}

.ligne{
    width: 33px;
    border: 3px solid $cardsColor;
    transform: rotate(90deg);
    margin-left: 24.5%; 
}

////////////////////////// Animation cercle 
.imageProfile{
    position: absolute;
    width: 100%;
    height: 250px;
    top: 3px;
    border: 7px solid $cardsColor;
    backdrop-filter: blur(4px);
    border-radius: 200px;
    -webkit-animation:spin 6s linear ;
    -moz-animation:spin 6s linear ;
    animation:spin 6s linear ;

    animation: blur .75s ease-out infinite;
    text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin {100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.imageCenter{
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.circle-wrapper {
    position: relative;
    width: 250px;
    height: 255px;
    //display: block;
    //margin-right: auto;
    //margin-left: auto;
  }
  .circle {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 2.5px;
    background-clip: content-box;
    animation: spin 10s linear infinite;
  }
  .circle-wrapper:active .circle {
    animation: spin 2s linear infinite;
  }
  .success {
    border: 2.5px dashed $styleColor;
  }
  
  @keyframes spin { 
    100% { 
      transform: rotateZ(360deg);
    }
  }
//////////////////////////////////////////// Responsive /////////////////////////////
@media screen and (max-width: 425px) {
    .home-profession{
        margin-left: $marginLeft;
        color:$primary-color;
        padding-bottom: 2%;
        font-weight: bold;
        font-size: 30px;
    }  
}
@media screen and (min-width: 426px ) and (max-width: 768px ) {
    .home-profession{
        margin-left: $marginLeft;
        color:$primary-color;
        padding-bottom: 2%;
        font-weight: bold;
        font-size: 30px;
    }
}